@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    background: url('../assets/bg/cloud.jpg') center center no-repeat;
    background-size: cover;
    margin: 0;}
.homecontainer{
    width: 1500px; /* Örnek değer, ihtiyacınıza göre ayarlayabilirsiniz */
    height: 750px; /* Örnek değer, ihtiyacınıza göre ayarlayabilirsiniz */
    border-radius: 20px;
    background-color: rgba(224, 239, 251, 0.885);
    box-shadow: 0 0 10px rgba(0, 66, 128, 0.268);
    animation: fadeIn 1.5s;} 
.doughnutChart {
    width: 10px;
    height: 10px;
}
@keyframes fadeIn{
    from{
        opacity: 0.1;
        transform: translateY(-20px); 
    }
    to{
        opacity: 1;
        transform: translateY(0);}}