<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="icon" href="../assets/logo/Gomicron.ico" type="image/x-icon">
    <script defer src="../js/dashboard.js"></script>
    <link rel="shortcut icon" href="../assets/logo/Gomicron.ico" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <div class="statics">
        <div class="cpucontainer">
            <p class="cpu">CPU Performance</p>
            <div style="height: 215px; width: 300px">
                <canvas id="line-chart"></canvas>
                <script src="../../scripts/js/cpu.js"></script>
            </div>
        </div>
        <div class="memorycontainer">
            <p class="mem">Memory Performance</p>
            <div style="height: 215px; width: 300px">
                <canvas id="bar-chart"></canvas>
                <script src="../../scripts/js/memory.js"></script>
            </div>
        </div>
        <div class="diskcontainer">
            <p class="disk">Disk Performance</p>
            <div style="height: 200px; width: 150px; margin: auto;">
                <canvas id="pie-chart"></canvas>
                <script src="../../scripts/js/disk.js"></script>
            </div>
        </div>
    </div>
    <div class="dashboard">
        <div class="panel">
            <p class="label">Dashboard</p>
            <label class="timelabel" for="updateInterval">Graph Time Interval:</label>
            <input type="number" class="updateInterval" value="1" min="1" step="1" max="9">
        </div>
    </div>
</body>
</html>
