<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gomicron UI</title>
    <link rel="stylesheet" href="../css/main.css">
    <script defer src="../js/main.js"></script>
    <link rel="icon" href="../assets/logo/Gomicron.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../assets/logo/Gomicron.ico" type="image/x-icon">
</head>
<body>
    <div class="maincontainer">
        <a href="https://www.formdata.com.tr/" target="_blank">
            <img class="gomicronimg" src="../assets/logo/Gomicron.jpg" alt="Gomicron Logo" style="width: 35%; height: 35%;">
        </a>
        <h1 class="gomicron">Gomicron UI</h1>
        <div class="loginbox">
            <form id="login-form">
                <label class="mail">Email</label>
                <input type="email" id="email-input" required>
                <span></span>
                <label class="pass">Password</label>
                <input type="password" id="password-input" required>
                <span></span>
                <button type="button" id="submit-button" class="button1">
                    <span></span>
                    <label>SUBMIT</label>
                </button>
            </form>
        </div>
    </div>
</body>
</html>
